.input-field{
    border: 1px solid hsla(0, 0%, 100%, .2);
}
.input-field input{
    background-color: black;
    color: white;
   width: 35rem;
   outline: none;
}
.suggestions *{
    border: 1px solid hsla(0, 0%, 100%, .2);
    border-radius: .8rem;
    padding: .2rem 1rem;
    color: gray;
}
.suggestions *:hover{
    /* background-color: hsla(0, 0%, 100%, .2); */
    color: white;
}
.active{
    background-color: red;
}
