.input-field{
    border: 1px solid gray;
}
.input-field input{
    background-color: transparent;
    color: white;
   width: 35rem;
   outline: none;
}
.suggestions *{
    border: 1px solid hsla(0, 0%, 100%, .2);
    border-radius: .8rem;
    padding: .2rem 1rem;
    color: white;
}
.suggestions *:hover{
    /* background-color: hsla(0, 0%, 100%, .2); */
    color: gray;
}
.active{
    background-color: #00dee2;
    color: black;
}
h1{
    color: red;font-family: 'Poppins', sans-serif;
}
.Barss p{
    font-family: 'Preahvihear', sans-serif;
}
