.stableDiffusion img{
    width: 40rem;
}
.musicModBtn *{
    padding: .5rem 1rem;
   border: 1px solid hsla(0, 0%, 100%, .2);
    border-radius: .5rem;
}
.someMainArea{
    border: 1px solid hsla(0, 0%, 100%, .2);
    
}